{% extends "base.html" %}
{% block content %}
<h1>Recipe Finder</h1>
<select class="form-control form-control-lg" name='meal' method='get' action="set_meal">
    <option value="Breakfast/Brunch">Breakfast/Brunch</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
</select>

<p>
    <!-- or action="/#" and handle post in index() -->
<form method="post" action="/#" onkeydown="if (document.getElementById('add_other') != '') {
    addRest();
}">
    <select class="form-control form-control-lg" name='meal'>
        <option value="Breakfast/Brunch">Breakfast/Brunch</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
    </select>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button"
                value="Gluten-Free">
            Gluten-Free
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button"
                value="Vegetarian">
            Vegetarian
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button"
                value="Vegan">Vegan
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button"
                value="Lactose-Free">
            Lactose-Free
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Halal">
            Halal
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Kosher">
            Kosher
        </label>
        <p>
            <label>
                <input type="text" id="add_other" onkeydown="addRest()">
            </label>
        </p>
        <script type="text/javascript">
            function addRest() {
                if (event.keyCode == 13) {
                    let userInput = document.getElementById("add_other").value;
                    let newBox = document.createElement("input");
                    newBox.type = "checkbox";
                    newBox.action = 'add_diet';
                    newBox.method = 'get';
                    newBox.autocomplete = 'off';
                    newBox.name = 'diet_button';
                    newBox.value = userInput;
                    let newLabel = document.createElement("label");
                    newLabel.class = "btn btn-outline-secondary";
                    let labelText =
                        document.createTextNode(userInput);
                    newLabel.appendChild(labelText);
                    newLabel.appendChild(newBox);
                }
            }
            // $(document).ready(function () {
            //     $(window).keydown(function (event) {
            //         if (event.keyCode == 13) {
            //             event.preventDefault();
            //             return false;
            //         }
            //     });

            // });
        </script>
    </div>
    <p><input type="submit" value="Submit"></p>
</form>

</p>
{% endblock %}