{% extends "base.html" %}
{% block content %}

<div class="content">
<div id="header">
    <h1>Recip-Eaze</h1>
    <h2 style="font-size: medium;">Find Recipes Instantly!</h2>
</div>
    <!-- or action="/#" and handle post in index() -->
<form method="post" action="/#" sandbox="allow-scripts">
    <div id="meal-select">
    <select class="form-control form-control-lg" name='meal'>
        <option value="Breakfast/Brunch">Breakfast/Brunch</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
    </select>
    </div>
    <br>
    <div class="btn-group-toggle" data-toggle="buttons" id="diet_restrictions">
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Gluten-Free">
            Gluten-Free
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Vegetarian">
            Vegetarian
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Vegan">Vegan
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Lactose-Free">
            Lactose-Free
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Halal">
            Halal
        </label>
        <label class="btn btn-outline-secondary">
            <input type="checkbox" autocomplete="off" name="diet_button" value="Kosher">
            Kosher
        </label>
    </div>
    <p class="test">
    <div>
        <label>
            <input type="text" id="add_other">
        </label>
        <script>
            function addRestriction() {
                let userInput = document.getElementById("add_other").value;
                if (userInput != "") {
                    let newBox = document.createElement("input");
                    newBox.type = "checkbox";
                    newBox.autocomplete = 'off';
                    newBox.name = 'diet_button';
                    newBox.value = userInput;
                    newBox.checked = true;
                    let newLabel = document.createElement("label");
                    newLabel.className = "btn btn-outline-secondary active";
                    newLabel.appendChild(newBox);
                    newLabel.appendChild(document.createTextNode(userInput));
                    document.getElementById('diet_restrictions').appendChild(newLabel);
                    document.getElementById('add_other').value = '';
                }
            }
        </script>
        <input type="button" value="Add" id="add" onclick="addRestriction()">
    </div>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
</div>
{% endblock %}